<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3307/hibernate</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="hbm2ddl.auto">update</property>
		
		<!--  when using hbm.xml file -->
        <!-- <mapping resource="com/test/hibernate/domain/Message.hbm.xml"/>  -->
       
        <!-- when using jpa annotations  -->
         <mapping class="com.ts.entity.Message"/>
         <mapping class="com.ts.entity.Employee"/>
         <mapping class="com.ts.entity.Student"/>
         <mapping class="com.ts.entity.Subject"/>
         
    </session-factory>
</hibernate-configuration>